@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
  line-height: normal;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.remark-slide-content.full, .remark-slide-content.full p {
  padding: 0;
  margin: 0;
}

.remark-slide-content h1 {
  margin-left: -42px;
  margin-top: 0;
}

.remark-slide-content img {
  max-width: 100%;
}

.remark-slide-content > p {
  margin-top: 12px;
  margin-bottom: 6px;
}

.remark-slide-content > pre {
  margin-top: 0;
  margin-bottom: 6px;
}

.remark-slide-content > p:first-child {
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 18px;
  left: 20px;
  font-size: small;
}

.width-500 img {
  max-width: 500px;
}

.remark-slide-content.title img {
  max-width: 300px;
}

.remark-slide-content.title h1 {
  margin-left: 0;
}

.remark-slide blockquote {
  border-left: 4px solid #70adff;
  margin-left: 0;
  padding-left: 20px;
}
